*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.json
*.db-shm
*.db-wal
*.pyc
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
zone.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
/www/persons
.*
!/.gitignore